#mydiv1{
  border: solid 3px red;
  border-radius: 30px;
  margin: 30px;
  padding: 20px;
  background-color: rgb(241, 220, 220);
}

#i1{
  width: 200px;
  height: 200px;
  margin-left: 120px;
}
#nav1 a{
    margin: 5px;
}
#form1{
  width: 500px;
  height: 700px;
  background-color: rgb(146, 169, 219);
  border: 2px solid black;
  border-radius: 10px;
  box-shadow: 5px 5px 5px 5px black;
  margin-top: 80px;
  margin-left: 300px;
  cursor: pointer;
  padding: 30px;
}
#b1{
   margin-right:auto !important; 
   margin-left: auto !important;
}